<a href="https://colab.research.google.com/github/Svensone/Kaggle-Competitions/blob/master/%5Bfastai%5D_Future_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project

1. Setup
2. Data
3. Model
4. Inference
5. Submission

In [5]:
# Setup

%reload_ext autoreload
%autoreload 2
%matplotlib inline

# import necessary libaries

from fastai import *
from fastai.tabular import *

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [6]:
# basic bash & create folder structure for Project

# !mkdir abc
# !echo "file" > abc/123.txt

# import os
# os.chdir('abc')

# # Now the directory 'abc' is the current working directory.
# # and will show 123.txt.
# !ls

# #change working directory
# %cd folder/folder

# # check 
# !pwd

In [7]:
# connect to kaggle

from google.colab import files
files.upload()

!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

# !pip install kaggle
!chmod 600 /root/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json

In [8]:
# connect to GDrive

# from google.colab import drive
# drive.mount('/content/drive')

## 2. Data

In [9]:
#list 

# list and download kaggle dataset
# ! kaggle competitions list -s future
# ! kaggle competitions download -c 'name of data' -f 'train-jpg.tar.7z' -p {path where to download}

#download data
!kaggle competitions download -c competitive-data-science-predict-future-sales -p 'drive/My Drive/Colab Notebooks/kaggle/FutureSales'

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading shops.csv to drive/My Drive/Colab Notebooks/kaggle/FutureSales
  0% 0.00/2.91k [00:00<?, ?B/s]
100% 2.91k/2.91k [00:00<00:00, 444kB/s]
Downloading sample_submission.csv.zip to drive/My Drive/Colab Notebooks/kaggle/FutureSales
  0% 0.00/468k [00:00<?, ?B/s]
100% 468k/468k [00:00<00:00, 31.3MB/s]
Downloading items.csv.zip to drive/My Drive/Colab Notebooks/kaggle/FutureSales
  0% 0.00/368k [00:00<?, ?B/s]
100% 368k/368k [00:00<00:00, 24.6MB/s]
Downloading item_categories.csv to drive/My Drive/Colab Notebooks/kaggle/FutureSales
  0% 0.00/3.49k [00:00<?, ?B/s]
100% 3.49k/3.49k [00:00<00:00, 497kB/s]
Downloading test.csv.zip to drive/My Drive/Colab Notebooks/kaggle/FutureSales
  0% 0.00/1.02M [00:00<?, ?B/s]
100% 1.02M/1.02M [00:00<00:00, 69.0MB/s]
Downloading sales_train.csv.zip to drive/My Drive/Colab Notebooks/kaggle/FutureSales
 68% 9.00M/13.3M [00:00<00:00, 26.9MB/s]
100% 13.3M/13.3M [00:00<00:00, 38.1MB/s]

In [11]:
path = Path('/content/drive/My Drive/Colab Notebooks/kaggle/FutureSales')
path.ls()

[PosixPath('/content/drive/My Drive/Colab Notebooks/kaggle/FutureSales/[fastai] Future Sales.ipynb'),
 PosixPath('/content/drive/My Drive/Colab Notebooks/kaggle/FutureSales/shops.csv'),
 PosixPath('/content/drive/My Drive/Colab Notebooks/kaggle/FutureSales/sample_submission.csv.zip'),
 PosixPath('/content/drive/My Drive/Colab Notebooks/kaggle/FutureSales/items.csv.zip'),
 PosixPath('/content/drive/My Drive/Colab Notebooks/kaggle/FutureSales/item_categories.csv'),
 PosixPath('/content/drive/My Drive/Colab Notebooks/kaggle/FutureSales/test.csv.zip'),
 PosixPath('/content/drive/My Drive/Colab Notebooks/kaggle/FutureSales/sales_train.csv.zip')]

## 2. Data

get, sort/rest_index, add_datepart, cat/cont_names, metric?change dep_var

In [25]:
path = ('/content/drive/My Drive/Colab Notebooks/kaggle/FutureSales/')
shops = pd.read_csv(path+'/shops.csv', low_memory= False)
items = pd.read_csv(path+'/items.csv.zip', low_memory= False)
item_cat = pd.read_csv(path+'/item_categories.csv', low_memory= False)
sales_train = pd.read_csv(path+'/sales_train.csv.zip', low_memory= False, parse_dates=['date'])

sales_train.head()

        date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0 2013-02-01               0       59    22154      999.00           1.0
1 2013-03-01               0       25     2552      899.00           1.0
2 2013-05-01               0       25     2552      899.00          -1.0
3 2013-06-01               0       25     2554     1709.05           1.0
4 2013-01-15               0       25     2555     1099.00           1.0

In [26]:
sales_train = sales_train.sort_values(by='date', ascending=False)
sales_train = sales_train.reset_index(drop=True)
sales_train.tail()

              date  date_block_num  shop_id  item_id  item_price  item_cnt_day
2935844 2013-01-01               0       54     9363       299.0           1.0
2935845 2013-01-01               0       15    21987       549.0           1.0
2935846 2013-01-01               0       28    10391       199.0           1.0
2935847 2013-01-01               0       28    10641       699.0           1.0
2935848 2013-01-01               0       38    16315       949.0           2.0

In [30]:
test = pd.read_csv(path+'/test.csv.zip', low_memory=False)
test.tail()

            ID  shop_id  item_id
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

In [31]:
sample_sub = pd.read_csv(path+'/sample_submission.csv.zip')
sample_sub.head()

   ID  item_cnt_month
0   0             0.5
1   1             0.5
2   2             0.5
3   3             0.5
4   4             0.5

## 3. Model

## 4. Inference & Submit

[PosixPath('/content/drive/My Drive/Colab Notebooks/kaggle/FutureSales')]